// Your custom style

/* TYPOGRAPHY */

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Lato, Roboto, "Helvetica Neue", Arial, sans-serif;

/* COLORS */

$blue: #006DB3;

$theme-colors: (
  primary: $blue
)
    
