/* YOUR CUSTOM STYLES */


/*_*_* Hero Image *_*_*/

/* Hero image stylins */
.bgimage {
  background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');
}
.services {
  background-color: #0b3954;
}
.services-item {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #63CCFF;
    text-align: left;
    color: #63CCFF; 
    
}
.hero {
  height: 60vh;
  width: 100%;
  background-image: url('https://unsplash.it/1600/900/?random');
  background-size: cover;
  background-repeat: no-repeat;
}
        
.navbar {
  background-color: #0b3954;
}

.top-nav-collapse {
  background-color: #0b3954;
}

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
}



.services-group .services-item:after {
    content: '\f061';
    font-family: FontAwesome;
    float: right;
}

.section-title {
    text-align: left;
    padding-top: 24px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.section-title {
    
}

.services-title {
    color: #ffffff;
}

.view-all {
    text-align: right;
    color: #ffffff;
    margin-bottom: 16px;
    margin-top: 16px;
    text-transform: uppercase;
}

.svc-icon {
    margin-right: 8px
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

/* COMMISSION SECTION */

.testimonial-card .avatar {
    margin: 10px auto 0;
}

.commisssion-title {
    background-color: #FFCC00;
    padding-bottom: 1vh;
    margin-bottom: 24px;
}

/* COLORS */

.broward-color-lightblue {color:#63CCFF;}
.broward-color-blue {color:#006DB3;}
.broward-color-darkblue {color:#0B3954;}
.broward-color-orange {color:#FF9505;}
.broward-color-yellow {color:#FFCC00;}
.broward-color-lightgrey {color:#EEEEEE;}
.broward-color-grey {color:#BCBCBC;}


/* SALVATTORE */

@media screen and (max-width: 767px){
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}

@media screen and (min-width: 768px) and (max-width: 990px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}
@media screen and (min-width: 991px) {
	#grid[data-columns]::before {
		content: '4 .column.size-1of4';
	}
}

/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }