/* YOUR CUSTOM STYLES */


/*_*_* Hero Image *_*_*/

/* Hero image stylins */
.bgimage {
  background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');
}
.services {
  background-color: #0b3954;
}
.services-item {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #63CCFF;
    text-align: left;
    color: #63CCFF; 
    
}
.hero {
  height: 60vh;
  width: 100%;
  background-image: url('https://unsplash.it/1600/900/?random');
  background-size: cover;
  background-repeat: no-repeat;
}
        
.navbar {
  background-color: #0b3954;
}

.top-nav-collapse {
  background-color: #0b3954;
}

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
}



.services-group .services-item:after {
    content: '\f061';
    font-family: FontAwesome;
    float: right;
}

.section-title {
    text-align: left;
    padding-top: 24px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.section-title {
    
}

.services-title {
    color: #ffffff;
}

.view-all {
    text-align: right;
    color: #ffffff;
    margin-bottom: 16px;
    margin-top: 16px;
    text-transform: uppercase;
}

.svc-icon {
    margin-right: 8px
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

/* COMMISSION SECTION */

.testimonial-card .avatar {
    margin: 10px auto 0;
}

.commisssion-title {
    background-color: #FFCC00;
    padding-bottom: 1vh;
    margin-bottom: 24px;
}

/* COLORS */

.broward-color-lightblue {color:#63CCFF;}
.broward-color-blue {color:#006DB3;}
.broward-color-darkblue {color:#0B3954;}
.broward-color-orange {color:#FF9505;}
.broward-color-yellow {color:#FFCC00;}
.broward-color-lightgrey {color:#EEEEEE;}
.broward-color-grey {color:#BCBCBC;}


/* SALVATTORE */

@media screen and (max-width: 767px){
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}

@media screen and (min-width: 768px) and (max-width: 990px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}
@media screen and (min-width: 991px) {
	#grid[data-columns]::before {
		content: '4 .column.size-1of4';
	}
}

/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }

/* SEARCH */

/**Search Overlay**/
#search {
    position: fixed;
    top: 48px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.69); rgba(0, 0, 0, 0.7)*/

  -webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(1, 0);
	-moz-transform: translate(0px, -100%) scale(1, 0);
	-o-transform: translate(0px, -100%) scale(1, 0);
	-ms-transform: translate(0px, -100%) scale(1, 0);
	transform: translate(0px, -100%) scale(1, 0);
  opacity: 0;
  z-index: 99;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;


  -webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}



#search input[type="search"] {
  position: absolute;
      top: 50px /*50%*/;
      width: 100%;
      color: #0b3954;
      background: #fff;
      font-size: calc(28px + 8 * ((100vw - 480px) / 960));
      font-weight: 900;
      text-align: center;
      border: 0px;
      margin: 0px auto;
      margin-top: -51px;
      /* padding-left: 30px; */
      padding-right: 30px;
      outline: none;
      height: 145px /*5.0rem*/;
}
#search .btn {
      position: relative;
      bottom: -102px;
}
#search .close {
  position: fixed;
  top: 14px;
  right: 12px;
  color: #fff;
  background-color: #ca4242;
  border-color: #357ebd;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
  cursor: pointer;
  z-index: 101;
  border-radius:100%;
}
#search .closed-icon:before {
    content: "test";
}

/**Home Hero Image**/
.intro-2 {
    background: url("https://unsplash.it/1600/900/?random")no-repeat center center;
    background-size: cover;
    height:70vh;
}

/**Emgergency Banner**/
.eWrapper{
  border-bottom: 4px solid;
  width:100%;
  height:100%;
  background: orange;
}
.eWrapper h3 {
    font-size: 1.2rem;
    text-align: center;
    color: #282828;
    padding:20px;
    font-weight: 400;
}

/**Page Layout Container**/
.pagelayoutWrapper{
  padding-top: 20px;
}